.register {
  width: 60%;
  margin: 100px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.register .registhead {
  margin-top: -40px;
  margin-bottom: 20px;
}

.register .registhead h2 {
  display: inline-block;
  padding: 5px 88px;
  background-color: #f44336;
  border-radius: 30px;
  font-size: 28px;
  color: #FFF;
}

.register mat-form-field {
  width: 100%;
}

.register mat-radio-button {
  margin-right: 30px;
}

.register .registfoot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.register .registfoot button {
  margin-top: 15px;
  padding: 0 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.alert-danger {
  background-color: #f44336c4;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}
