
<mat-toolbar color="primary" class="navbar navbar-default py-2 " dir="rtl">
  <div class="container">
    <div class="navbar-header ">
      <a class="navbar-brand"  routerLinkActive="active" routerLink="welcome"><img src="assets/images/school_white_24dp.svg" alt="" class="mb-2"> فاينال </a>
    </div>

    <div class="d-flex align-items-center">
      <ul class="nav navbar-right d-flex align-items-center">
        <li *ngIf="user?.role == 'doctor'" routerLinkActive="active"><a routerLink="/new-exam">أختبار جديد</a></li>
        <li *ngIf="user?.role == 'doctor'"  routerLinkActive="active"><a routerLink="/students">الطلاب</a></li>
        <li *ngIf="user !== null" routerLinkActive="active"><a routerLink="/subjects">المواد </a></li>
        <li *ngIf="user !== null" routerLinkActive="active" (click)="logout()"><a routerLink="/login">خروج</a></li>
        <li *ngIf="user == null" routerLinkActive="active"><a routerLink="/login">تسجيل الدخول</a></li>
        <li *ngIf="user == null" routerLinkActive="active" ><a routerLink="/register">إنشاء حساب</a></li>
        <li *ngIf="router.url !=='/login' && user !== null" class="username" routerLink="/home">{{user?.username}}</li>
      </ul>

    </div>
  </div>
</mat-toolbar>
