body {
  padding: 0;
  margin: 0 !important;
}

* {
  font-family: 'Almarai', sans-serif;
}

html, body {
  height: fit-content;
}

body {
  margin: 0;
  font-family: 'Almarai', sans-serif !important;
}
